<div>
    <a [routerLink]="['/todo/create']" routerLinkActive="active">Create New Task</a>
</div>

<div>
    <form #searchByWordForm="ngForm" (submit)="searchByWord(searchByWordForm)">

        <div>
            <label>KeyWord:</label>
            <input type="text" name="word" #refWord="ngModel" [ngModel]="word">
        </div>

        <div>
            <input type="submit" value="SEARCH">
        </div>
    </form>
</div>

<ng-container [ngSwitch]="loading">
    <div *ngSwitchCase="'loading'">
        IN CARICAMENTO
    </div>
    <div *ngSwitchCase="'loaded'">
        <todo-things-to-do-list-item *ngFor="let toDo of toDoList" [toDoItem]="toDo"
            (selectionShowToDo)="showToDoHandler($event)" (selectionEditToDo)="editToDoHandler($event)"
            (selectionDeleteToDo)="deleteToDoHandler($event)">

        </todo-things-to-do-list-item>
    </div>
    <div *ngSwitchCase="'error'">
        Errore ricarica la pagina
    </div>
    <div *ngSwitchCase="'empity'">
        Nessun valore trovato
    </div>
</ng-container>