<form #toDoForm="ngForm" (submit)="saveTodoByForm(toDoForm)">

    <div>
        <label>Text:</label>
        <input type="text" name="text" #refText="ngModel" [ngModel]="toDoFormDetail?.text" required>
    </div>

    <div>
        <label>Due Date:</label>
        <input type="date" name="dueDate" #refDueDate="ngModel" [ngModel]="toDoFormDetail?.dueDate">
    </div>

    <div>
        <label>State:</label>
        <select name="state" #refState="ngModel" [ngModel]="toDoFormDetail?.state">
            <option value="TODO">TODO</option>
            <option value="IN_PROGRESS">IN_PROGRESS</option>
            <option value="DONE">DONE</option>
        </select>
    </div>

    <div>
        <input type="submit" value="SAVE">
    </div>

</form>